/* Shared Styles */
body{
    font-family: 'Open Sans', sans-serif;
}

/* header */

.header{
    background-color: #FFF8F3;
    background-image: url('images/developer.png'), url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.developer-image{
    display: inline;
}

/* nav bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 200px;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a{
    text-decoration: none;
    color: #474747;
}

.nav-title{
    font-family: "Open Sans";
    font-size: 45px;
    font-weight: 800;
}

.text-primary{
    color: #FD6E0A;
    font-family: "Open Sans";
    font-size: 45px;
    font-weight: 800;
}

.btn-primary{
    padding: 15px 35px;

    border-radius: 5px;
    border: 0;
    background: #FD6E0A;

    color: #FFF;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
}

.btn-primary-con{
    padding: 15px 35px;
    
    color: #FD6E0A;
    background: #FFF;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;

    border-radius: 5px;
    border: 1px solid #FD6E0A;
}

/* banner */

.banner{
    padding: 30px 30px 0px 150px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-picture{
    width: 584px;
    height: 676px;
}

.banner-greeting{
    color: #474747;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 600;

    margin-bottom: 0;
}

.banner-title{
    color: #181818;
    font-family: "Open Sans";
    font-size: 50px;
    font-weight: 700;

    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description{
    color: #757575;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
}

.banner-content{
    max-width: 500px;
}

/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
}

/* about section */
.about-section{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.about-title{
    color: #181818;
    text-align: center;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 700;
}

.about-description{
    width: 827px;

    color: #757575;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about-info{
    text-align: center;
}

.about-info-title{
    color: #757575;
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
}

.about-info-description{
    color: #474747;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
}

/* what i do section */
.what-i-do-title{
    color: #181818;
    text-align: center;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 700;
}

#what-i-do-description{
    padding: 30px 30px;
}

.what-i-do-description{
    color: #757575;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
}

.what-i-do-skills-container{
    display: flex;
    gap: 24px;
}

.what-i-do-skill{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.what-i-do-skill-title{
    color: #181818;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
}

.what-i-do-skill-description{
    color: #757575;
    font-family: "Open Sans";
    font-size: 16px;
}

/* resume section */
.resume-title{
    color: #181818;
    text-align: center;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 700;
}

.resume-container{
    display: flex;
    gap: 50px;
}

.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-institute{
    color: #757575;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0px;
}

.resume-item-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.resume-container hr{
    width: 558px;
    margin: 30px 0;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}

/* footer */
footer{
    background: #FFF8F3;
    margin-top: 100px;
}

.footer-content{
    display: flex;
    gap: 100px;

    max-width: 1140px;
    margin: 0 auto;
    padding: 130px 200px;

}

.footer-column{
    width: 50%;
}

.footer-title{
    color: #181818;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 700;
}

.footer-contact input[type="text"], .footer-contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}

.footer-contact input[placeholder="Your Name"], .footer-contact input[placeholder="Your Email"], .footer-contact textarea[placeholder="Message"]{
    color: #757575;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
}